.App {
  margin: 50px 0 50px 0;
  text-align: center;
  background-color: #fff;
  height: 704px;
  width: 550px;
  
}

.navbar{
  background-color: #F55A5A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-img{
  width: 24px;
  margin: 7px;
}

.navbar-title{
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}


.card-img{
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.card-main-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 0;
}
.card-main-info > a{
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;

/* identical to box height */
text-decoration-line: underline;

color: #918E9B;
}

.card-main-info > h4{
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
color: #2B283A;
margin: 0 12px 0 4px;
} 
.card-main-info > img {
  width: 9px;
  
}

.card{
  display: flex;
  margin: 45px 40px 18px 40px;
  align-items: center;
  flex: 0 0 auto; 
  
}
.card-list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 41.4rem;
  width: 34.4 rem;
  gap: 20px;
  overflow-y: auto;
}

.card-main-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.card-main-text > p {
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #2B283A;
text-align: start;
}

.card-main-text > h5{
  font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;
color: #2B283A;
margin: 0 0 0 0;
}

.card-main-text > h2{
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 7px 0 15px 0;
  color: #2B283A;
}

.card-main{
  margin-left: 19px;
}

hr{
  border: 1px solid #F5F5F5;
  width: 478px;
  
}
